body {
  background: #e5e5e5;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 1px;
  margin: 1px;
}

li a {
  color: #344563;
  margin-left: -40px;
  padding-right: 35px;
}

.social-icon {
  margin-left: 40px;
  display: flex;
}

.connect {
  color: #7f8cff;
}

.skill-li {
  background-color: #f0f0f0;
}

.navy {
  color: #6070ff;
}

.cardy {
  height: 300px
}

.textarea {
  resize: none;
}

.butty {
  width: 200px;
}